.main_container {
  margin-bottom: 30px;
}

.search_text {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 31px;
  color: #000000;
}

.search_container {
  padding: 45px 100px 0px 100px !important;
}

@media (max-width: 750px) {
  .search_container {
    padding: 30px 35px 0px 35px !important;
  }
}

@media (max-width: 400px) {
  .search_container {
    padding: 15px 25px 0px 25px !important;
  }
}

.movies_list_container {
  padding: 50px 15px 0px 15px !important;
}

@media (min-width: 992px) {
  .movies_list_container {
    padding: 15px 50px 0px 50px !important;
  }
}
